<div class="app-l-landing-section">
  <div class="app-l-landing-section--left">
    <div class="app-l-landing-section--name">
      <span class="first-name"> Prinju </span>
      <span class="last-name"> Koshy Vaidyan </span>
    </div>
    <div class="app-l-landing-section--job">front-end developer</div>
    <div class="app-l-landing-section--highlight-actions">
      <div class="app-btn-group">
        <a
        href="https://github.com/prinjuk"
        target="_blank"
          class="app-c-btn app-c-btn--primary"
          aria-label="Click here to visit my projects"
        >
          Projects
      </a>
        <a
        href="./assets/cv-prinju.pdf"
        target="_blank"
          class="app-c-btn app-c-btn--primary"
          aria-label="Click here to visit my cv"
        >
          CV
        </button>
      </div>
    </div>
  </div>
  <div class="app-l-landing-section--right">
    <img src="./assets/images/laptop.png" alt="laptop" />
  </div>
</div>
<div class="app-l-landing-aboutme">
  <div class="app-l-landing-aboutme--left">
    <img src="./assets/images/pic.png" class="profile-pic" alt="me in flesh" />
    <img
      src="./assets/images/pic-wrapper.svg"
      class="profile-pic-graphics"
      alt="graphics"
    />
  </div>
  <div class="app-l-landing-aboutme--right">
    <div class="app-l-landing-aboutme--fullname">Prinju Koshy Vaidyan</div>
    <div class="app-l-landing-aboutme--role">FRONT-END DEVELOPER</div>
    <div class="app-l-landing-aboutme--intro">
      sTARTED OFF WITH A COMPUTER SCIENCE BACKGROUND AND VERY KEEN TO LEARN
      NEWER TECHNOLOGIES LANDED ME AS A ui dEVELOPER.tHROUGH FAST LEARNING I
      PROGRESSED MY WAY TO BECOME A FRONTEND DEVELOPER AND CREATED MULTIPLE
      ENTERPRISE LEVEL APPLICATIONS WITH CLEAN , MAINTAINABLE AND SCALABLE CODE.
    </div>
    <div class="app-l-landing-aboutme--skills">sKILLS</div>
    <div class="app-l-landing-aboutme--skills-text">
      Javascript, Angular, reactjs, scss, bem
    </div>
    <div class="app-l-landing-aboutme--skills-pics">
      <ul>
        <li>
          <img src="./assets/images/figma.png" alt="figma" />
        </li>
        <li>
          <img src="./assets/images/angular.png" alt="angular" />
        </li>
        <li>
          <img src="./assets/images/react.png" alt="react" />
        </li>
        <li>
          <img src="./assets/images/sass.png" alt="sass" />
        </li>
      </ul>
    </div>
    <div class="app-l-plus-animator">
      <svg
        width="444"
        height="514"
        viewBox="0 0 444 514"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M231.368 494.279L193.654 472.505M223.398 464.535L201.624 502.249L223.398 464.535Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M138.534 440.681L100.82 418.907M130.564 410.937L108.79 448.651L130.564 410.937Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M48.601 388.759L10.8873 366.985M40.6311 359.015L18.8571 396.729L40.6311 359.015Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M231.368 494.279L193.654 472.505M223.398 464.535L201.624 502.249L223.398 464.535Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M138.534 440.681L100.82 418.907M130.564 410.937L108.79 448.651L130.564 410.937Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M48.601 388.759L10.8873 366.985M40.6311 359.015L18.8571 396.729L40.6311 359.015Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M281.616 407.247L243.902 385.473M273.646 377.503L251.872 415.217L273.646 377.503Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M188.782 353.65L151.068 331.875M180.812 323.906L159.038 361.619L180.812 323.906Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M98.8485 301.727L61.1348 279.953M90.8787 271.983L69.1047 309.697L90.8787 271.983Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M281.616 407.247L243.902 385.473M273.646 377.503L251.872 415.217L273.646 377.503Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M188.782 353.65L151.068 331.875M180.812 323.906L159.038 361.619L180.812 323.906Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M98.8485 301.727L61.1348 279.953M90.8787 271.983L69.1047 309.697L90.8787 271.983Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M239.029 266.618L201.315 244.844M231.059 236.874L209.285 274.588L231.059 236.874Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M149.096 214.695L111.382 192.921M141.126 184.951L119.352 222.665L141.126 184.951Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M239.029 266.618L201.315 244.844M231.059 236.874L209.285 274.588L231.059 236.874Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M149.096 214.695L111.382 192.921M141.126 184.951L119.352 222.665L141.126 184.951Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M239.029 266.618L201.315 244.844M231.059 236.874L209.285 274.588L231.059 236.874Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M149.096 214.695L111.382 192.921M141.126 184.951L119.352 222.665L141.126 184.951Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M289.277 179.586L251.563 157.812M281.307 149.843L259.533 187.556L281.307 149.843Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M199.345 127.663L161.631 105.889M191.375 97.9188L169.601 135.633L191.375 97.9188Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M289.277 179.586L251.563 157.812M281.307 149.843L259.533 187.556L281.307 149.843Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M199.345 127.663L161.631 105.889M191.375 97.9188L169.601 135.633L191.375 97.9188Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M339.524 92.5547L301.811 70.7807M331.554 62.8109L309.78 100.525L331.554 62.8109Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M249.593 40.631L211.879 18.857M241.623 10.8872L219.849 48.6009L241.623 10.8872Z"
          class="plus-animate--white"
          stroke-miterlimit="10"
        />
        <path
          d="M339.524 92.5547L301.811 70.7807M331.554 62.8109L309.78 100.525L331.554 62.8109Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M249.593 40.631L211.879 18.857M241.623 10.8872L219.849 48.6009L241.623 10.8872Z"
          class="plus-animate--white"
          stroke-width="2"
          stroke-miterlimit="10"
        />
      </svg>
    </div>
  </div>
</div>
<div class="app-l-landing-experience">
  <div class="app-l-landing-title">Timeline</div>
  <div class="app-l-landing-experience--list">
    <ul>
      <li class="exp-list">
        <div class="exp-list--year">
          2020 - present

          <svg
            width="9"
            height="9"
            viewBox="0 0 9 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4.5" cy="4.5" r="4.5" fill="#565353" />
            <path d="M2.5 3L4.5 4.5V7" stroke="white" />
          </svg>
        </div>
        <div class="exp-list--details">
          <div class="exp-list--title">FrontEnd Developer</div>
          <div class="exp-list--learned">
            <div class="exp-list--learned--img">
              <img src="./assets/images/exp-tech-sample.png" alt="img" />
            </div>
            <div class="exp-list--learned--details">
              <div class="exp-list--learned--details--title">
                Frontend Developer
              </div>
              <div class="exp-list--learned--details--company">
                Experion Technologies , Trivandrum - India
              </div>
              <div class="exp-list--learned--details--roles">
                Led development of Frontend/UI Development for several Tier 1,2
                enterprises which are in Healthcare, Real Estate, Transportation
                , Insurance , Banking sectors.
                <ul>
                  <li>
                    Created multiple web applications , participating in the
                    whole process of their development: product design and
                    estimation, code design and development, UI Design and
                    maintenance.
                  </li>
                  <li>
                    Developed multiple projects at a time along with supporting
                    other projects developments without any bottlenecks.
                  </li>
                  <li>
                    Followed all W3C Accessibility standards and browser
                    compatibility.
                  </li>
                  <li>
                    Researching and Implementation of all necessary plugins
                    required for the project including customization.
                  </li>
                  <li>
                    Developed enterprise level Angular component library from
                    scratch.
                  </li>
                  <li>
                    Reusable UI component base for all projects for ease of
                    setup.
                  </li> 
                  <li>
                    Won Experion spot award
                  </li> 
                  <li>
                    Gave tech talk in Interaction Design Foundation
                    event.
                  </li>
                  <li>Followed Scrum Agile methodologies and GIT.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="exp-list">
        <div class="exp-list--year">
          2018 - 2020

          <svg
            width="9"
            height="9"
            viewBox="0 0 9 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4.5" cy="4.5" r="4.5" fill="#565353" />
            <path d="M2.5 3L4.5 4.5V7" stroke="white" />
          </svg>
        </div>
        <div class="exp-list--details">
          <div class="exp-list--title">UI Developer</div>
          <div class="exp-list--learned">
            <div class="exp-list--learned--img">
              <img src="./assets/images/trav-shore.png" alt="img" />
            </div>
            <div class="exp-list--learned--details">
              <div class="exp-list--learned--details--title">UI Developer</div>
              <div class="exp-list--learned--details--company">
                Travelshore Technologies , Trivandrum - India
              </div>
              <div class="exp-list--learned--details--roles">
                <ul>
                  <li>
                    Worked with ASP.net, MVC, WPF as a UI Developer for several
                    travel based API Solutions including B2B, B2C, CBT web
                    portals in implementing web designing and functionalities.
                  </li>
                  <li>
                    Handled multiple projects at a time and also delivered on
                    time. Project management application such as Jira Atlassian
                    was used for project handling and bug fixes.
                  </li>
                  <li>
                    Networking Capabilities in C Panel, IIS Server Management.
                    Version control knowledge in GitHub and Team Foundation
                    Server on Visual Studio.
                  </li>
                  <li>DB management services SQL Server, WAMP & XAMP.</li>
                  <li>
                    Web optimization by removing unused CSS and efficiently
                    calling CDNs and fair knowledge in GZIP compression,
                    leveraging caching, page optimization and keywords.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="exp-list">
        <div class="exp-list--year">
          2014 - 2018

          <svg
            width="9"
            height="9"
            viewBox="0 0 9 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4.5" cy="4.5" r="4.5" fill="#565353" />
            <path d="M2.5 3L4.5 4.5V7" stroke="white" />
          </svg>
        </div>
        <div class="exp-list--details">
          <div class="exp-list--title">Graduation</div>
          <div class="exp-list--learned">
            <div class="exp-list--learned--img">
              <img src="./assets/images/stist.png" alt="img" />
            </div>
            <div class="exp-list--learned--details">
              <div class="exp-list--learned--details--title">
                Computer Science Engineering
              </div>
              <div class="exp-list--learned--details--company">
                St.Thomas Insititute for Science and Technology
              </div>
              <div class="exp-list--learned--details--roles">
                <ul>
                  <li>
                    <span class="is-semi-bold"
                      >Employee Management System <br />
                      Front-End : Java , Back-End
                    </span>
                    <br />
                    MYSQL This project creates an Employee management system
                    software which can be used to manage employees of a company.
                    This system can be used in companies to monitor various
                    levels of hierarchy in an organization. The goal was to keep
                    track of projects assigned to each employee and also
                    attendance management of employees, salary management.
                  </li>
                  <li>
                    <span class="is-semi-bold">
                      Secure Crime Reporter <br />
                      Front-End:HTML,CSS,PHP , Back-End</span
                    >
                    <br />
                    MYSQL This webpage is a platform for connecting people in a
                    particular area and sharing their social problems and make
                    aware to others about the problem. The main goal of this
                    system is to provide the information related to crime to the
                    government officials, and the local people can give
                    complaints or any important information to the authorities.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="app-l-landing-recent-works">
  <div class="app-l-landing-title">Recent Works</div>
  <div class="app-l-landing-recent-project-list">
    <div class="app-l-landing-recent-project-list--item">
      <div class="project-list--image">
        <img src="./assets/images/projectdummy.png" alt="project dummy" />
      </div>
      <div class="project-list--title">Chronicled ,2018</div>
    </div>
    <div class="app-l-landing-recent-project-list--item">
      <div class="project-list--image">
        <img src="./assets/images/projectdummy.png" alt="project dummy" />
      </div>
      <div class="project-list--title">Chronicled ,2018</div>
    </div>
    <div class="app-l-landing-recent-project-list--item">
      <div class="project-list--image">
        <img src="./assets/images/projectdummy.png" alt="project dummy" />
      </div>
      <div class="project-list--title">Chronicled ,2018</div>
    </div>
    <div class="app-l-landing-recent-project-list--item">
      <div class="project-list--image">
        <img src="./assets/images/projectdummy.png" alt="project dummy" />
      </div>
      <div class="project-list--title">Chronicled ,2018</div>
    </div>
    <div class="app-l-landing-recent-project-list--item">
      <div class="project-list--image">
        <img src="./assets/images/projectdummy.png" alt="project dummy" />
      </div>
      <div class="project-list--title">Chronicled ,2018</div>
    </div>
    <div class="app-l-landing-recent-project-list--item">
      <div class="project-list--image">
        <img src="./assets/images/projectdummy.png" alt="project dummy" />
      </div>
      <div class="project-list--title">Chronicled ,2018</div>
    </div>
  </div>
  <div class="app-l-landing-recent-project--more">
    <button
      class="app-c-btn app-c-btn--primary"
      aria-label="Click here to visit all Projects on Github"
    >
      See all Projects on Github
    </button>
  </div>
</div>

<div class="app-l-landing-recommendations">
  <div class="app-l-landing-recommendations--item">
    <div class="app-l-landing-recommendations--item--img">
      <img src="./assets/images/recom.png" alt="mark" />
    </div>
    <div class="app-l-landing-recommendations--item--recom__wrapper">
      <div
        class="app-l-landing-recommendations--item--recom__wrapper--quote"
      ></div>
      <div class="app-l-landing-recommendations--item--recom__wrapper--text">
        <div class="text-highlight">Prinju’s</div>
        passion what he does, transparency and his work ethics always create the
        perfect product for our needs.
      </div>
      <div class="app-l-landing-recommendations--item--recom__wrapper--user">
        Mark Melvin , CEO
      </div>
      <div class="app-l-landing-recommendations--item--recom__wrapper--company">
        Gateway Express
      </div>
    </div>
  </div>
</div> -->

<div class="app-l-landing-connect">
  <div class="app-l-landing-title">Connect with me</div>
  <div class="app-l-landing-connect-wrapper">
    <div class="app-l-landing-connect-wrapper--image">
      <img src="./assets/images/shakehands.png" alt="connect img" />
    </div>
    <div class="app-l-landing-connect-wrapper--interest">
      Interested in working together?
    </div>
    <div class="app-l-landing-connect-wrapper--links">
      <div class="app-l-landing-connect-wrapper--links--item">
        <a href="https://twitter.com/prinjuvaidyan" target="_blank">
          <img src="./assets/images/twitter.png" alt="twt" />
          /prinjuvaidyan
        </a>
      </div>
      <div class="app-l-landing-connect-wrapper--links--item">
        <a href="https://linkedin.com/prinjuvaidyan" target="_blank">
          <img src="./assets/images/linkedin.png" alt="linkedin" />
          /prinjuvaidyan
        </a>
      </div>
      <div class="app-l-landing-connect-wrapper--links--item">
        <a href="https://github.com/prinjuk" target="_blank">
          <img src="./assets/images/github.png" alt="github" />
          /prinjuk1
        </a>
      </div>
    </div>
  </div>
</div>
<div class="app-l-landing-footer">Handcrafted by me.</div>
