@use 'abstracts/utilities' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/typography' as *;
@use 'abstracts/breakpoints' as *;
@use 'abstracts/helpers' as *;
@use 'abstracts/palette' as *;

.app-l-landing-section {
  @extend %flex;
  @extend %container;
  @media (max-width: $screen-lg) {
    @include flex-direction(column);
  }
  &--left {
    margin-right: auto;
    margin-top: 278px;
    @media (max-width: $screen-lg) {
      margin: 50px 0 0;
    }
    .rtl &,
    [dir='rtl'] & {
      margin-right: 0;
      margin-left: auto;
    }
  }
  &--right {
    margin-top: 140px;
    margin-left: auto;
    position: absolute;
    right: 0;
    @media (max-width: $screen-lg) {
      display: none;
    }
    .rtl &,
    [dir='rtl'] & {
      margin-left: 0;
      margin-right: auto;
    }
    img {
      max-height: 591px;
      width: 100%;
    }
  }
  &--name {
    @extend %flex-col;
    font-family: $font-secondary;
    text-transform: uppercase;
    .first-name {
      font-weight: $font-weight-bold;
      font-size: 6.4rem;
      line-height: 9rem;
      color: $text-primary-theme;
      @media (max-width: $screen-lg) {
        font-size: 3rem;
        line-height: 4rem;
      }
    }
    .last-name {
      font-weight: $font-weight-regular;
      font-size: 6.4rem;
      margin-bottom: 30px;
      color: $app-theme-white-1;
      @media (max-width: $screen-lg) {
        font-size: 3rem;
      }
    }
  }
  &--job {
    font-family: $body-font;
    font-size: 3.6rem;
    line-height: 3.7rem;
    color: $text-primary-theme;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    @media (max-width: $screen-lg) {
      font-size: $text-xl;
    }
  }
  &--highlight-actions {
    margin-top: 93px;
    @media (max-width: $screen-lg) {
      margin-top: 50px;
    }
    .app-btn-group {
      @extend %flex-vert-center;
      @media (max-width: $screen-lg) {
        @include flex-direction(column);
        a,button {
          width: 100%;
          margin: 10px 0;
        }
      }
    }
  }
}
.app-l-landing-aboutme {
  @extend %container;
  @extend %flex;
  margin-top: 270px;
  overflow: hidden;
  position: relative;
  @media (max-width: $screen-lg) {
    margin-top: 50px;
    @include flex-direction(column);
  }
  &--left {
    position: relative;
    margin: 0;
    width: 100%;
    max-width: 400px;
    .profile-pic {
      position: absolute;
      left: 97px;
      top: 35px;
      width: 241px;
      border-radius: 10px;
      @media (max-width: $screen-lg) {
        position: relative;
        top: auto;
        left: auto; 
        display: block;
      }
    }
    .profile-pic-graphics {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      @media (max-width: $screen-lg) {
        display: none;
      }
    }
  }
  &--right {
    margin-left: 70px;
    max-width: 633px;
    width: 100%;
    @media (max-width: $screen-lg) {
      margin-left: 0;
      margin-top: 50px;
    }
    .rtl &,
    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 70px;
    }
  }
  &--fullname {
    font-size: 4.8rem;
    line-height: 4.8rem;
    color: $text-primary-theme;
    margin-bottom: 23px;
    @media (max-width: $screen-lg) {
      font-size: 2.4rem;
      margin-bottom: 5px;
    }
  }
  &--role {
    font-size: $text-xl;
    color: $text-primary-theme;
    text-transform: uppercase;
    line-height: 1.9rem;
    margin-bottom: 32px;
    @media (max-width: $screen-lg) {
      font-size: $text-xl;
    }
  }
  &--intro {
    font-size: $text-xl;
    color: $app-theme-white-1;
    text-transform: lowercase;
    line-height: 3.8rem;
    margin-bottom: 20px;
    @media (max-width: $screen-lg) {
      font-size: $text-md;
    }
  }
  &--skills {
    font-size: 2.4rem;
    color: $text-primary-theme;
    line-height: 2.5rem;
    margin-bottom: 12px;
    text-transform: uppercase;
    @media (max-width: $screen-lg) {
      font-size: $text-md;
    }
    &-text {
      font-size: $text-xl;
      color: $text-primary-theme;
      line-height: 3.4rem;
      @media (max-width: $screen-lg) {
        font-size: $text-md;
      }
    }
    &-pics {
      ul {
        margin-top: 42px;
        @extend %flex-vert-center;
        li {
          margin-right: 19px;
          img {
            width: 40px;
          }
          .rtl &,
          [dir='rtl'] & {
            margin-left: 19px;
            margin-right: 0;
          }
          &:last-child {
            margin-right: 0;
            .rtl &,
            [dir='rtl'] & {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
.app-l-landing-experience {
  @extend %container;
  position: relative;
  margin-top: 270px;
  color: $white;
  @media (max-width: $screen-lg) {
    margin-top: 50px;
   }
  &--list {
    > ul {
      position: relative;
      &:before {
        width: 1px;
        content: '';
        position: absolute;
      }
      .exp-list {
        position: relative;
        @extend %flex;
        margin-bottom: 30px;
        @media (max-width: $screen-lg) {
          @include flex-direction(column);
        }
        &--learned {
          @extend %flex;
          @media (max-width: $screen-lg) {
            @include flex-direction(column);
            width: 100%;
          }
          &--img {
            img,.swiper-horizontal {
              width: 400px; 
              border-radius: 10px;
              @media (max-width: $screen-lg) {
                width: 100%;
              }
            }
          }
          &--details {
            margin-left: 38px;
            @media (max-width: $screen-lg) {
              margin: 0;
              margin-top: 30px;
            }
            &--title {
              font-weight: $font-weight-medium;
              font-size: $text-xl;
              margin-bottom: 20px;
              font-family: $font-secondary;
              @media (max-width: $screen-lg) {
                display: none;
              }
            }
            &--company {
              font-weight: $font-weight-regular;
              font-size: $text-xl;
              margin-bottom: 18px;
              font-family: $font-secondary;
              @media (max-width: $screen-lg) {
                font-size: $text-sm-plus;
              }
            }
            &--roles {
              font-size: $text-sm-plus;
              line-height: 2.7rem;
              font-family: $font-secondary;
              ul {
                margin-left: 18px;
                list-style: disc;
                margin-top: 10px;
                li {
                  color: $text-sub-theme;
                  line-height: 2.7rem;
                  font-family: $font-secondary;
                  @media (max-width: $screen-lg) {
                    font-size: $text-sm-plus;
                  }
                  span {
                    color: $white;

                    font-family: $font-secondary;
                  }
                }
              }
            }
          }
        }
        &:last-child {
          .exp-list--year {
            &:before {
              display: none;
            }
          }
        }
        &--year {
          white-space: nowrap;
          margin-right: 38px;
          font-size: $text-sm;
          line-height: 1.2rem;
          color: $text-fade;
          position: relative;
          flex-shrink: 0;
          min-width: 90px;
          @extend %flex;
          &:before {
            content: '';
            position: absolute;
            top: 22px;
            right: 4px;
            width: 1px;
            height: 100%;
            background: #565353;
            border-radius: 20px;
            @media (max-width: $screen-lg) {
              display: none;
            }
          }
          svg {
            margin-left: auto;
            @media (max-width: $screen-lg) {
              display: none;
            }
          }
        }
        &--details {
          @extend %flex-col;
          @extend %flex-vert-start;
        }
        &--title {
          min-width: 146px;
          height: 30px;
          background-color: $app-theme-tertiary;
          color: $black;
          @extend %flex-all-center;
          font-weight: $font-weight-medium;
          border-radius: 8px;
          font-family: $font-secondary;
          padding: 0 20px;
          font-size: $text-md;
          line-height: 1.4rem;
          margin-bottom: 36px;
          margin-top: -11px;
          @media (max-width: $screen-lg) {
            margin: 10px 0;
          }
        }
      }
    }
  }
}
.app-l-landing-recent-works {
  @extend %container;
  position: relative;
  margin-top: 270px;
  @media (max-width: $screen-lg) {
    margin-top: 50px;
  }
  .app-l-landing-recent-project-list {
    @extend %flex-wrap;
    @extend %flex-horiz-away-vert-center;
    @media (max-width: $screen-lg) {
      @include flex-direction(column);
    }
    &--item {
      flex: 0 1 356px;
      position: relative;
      margin-top: 85px;
      cursor: pointer;
      @media (max-width: $screen-lg) {
        flex: 1;
        margin-top: 10px;
        @include flex-direction(column);
        img {
          width: 100%;
        }
      }
      &:hover {
        .project-list {
          &--image {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.8);
            }
          }
          &--title {
            opacity: 1;
            bottom: 20px;
            color: $white;
          }
        }
      }
      .project-list {
        &--image {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 16px;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transition: background-color $animation-type1 $animation-duration3;
          }
        }
        &--title {
          opacity: 0;
          transition: opacity $animation-type1 $animation-duration3,
            bottom $animation-type1 $animation-duration3;
          font-size: 18px;
          position: absolute;
          bottom: 0;
          left: 30px;
          z-index: 1;
          .rtl &,
          [dir='rtl'] & {
            left: auto;
            right: 30px;
          }
        }
      }
    }
  }
  .app-l-landing-recent-project--more {
    text-align: center;
    margin-top: 30px;
    @extend %flex-all-center;
  }
}
.app-l-landing-recommendations {
  margin-top: 58px;
  &--item {
    @extend %flex;
    @media (max-width: $screen-lg) {
      @include flex-direction(column);
    }
    &--img {
      img {
        width: 100%;
        max-width: 277px;
        object-fit: cover;
        @media (max-width: $screen-lg) {
          display: block;
          margin: auto;
        }
      }
    }
    &--recom__wrapper {
      width: 100%;
      background-color: #141414;
      padding: 45px 50px 20px;
      position: relative;
      @extend %flex-col;
      &--quote {
        color: $text-secondary-theme;
        position: relative;
        &:before {
          content: '"';
          position: absolute;
          top: 0;
          font-size: 9.6rem;
          font-family: 'Poor Richard', sans-serif;
        }
      }
      &--text {
        margin-top: 56px;
        font-size: 2.4rem;
        color: $white;
        font-family: $font-secondary;
        font-weight: $font-weight-regular;
        line-height: 3.4rem;
        @media (max-width: $screen-lg) {
         font-size: $text-xl;
        }
        .text-highlight {
          margin-right: 5px;
          display: inline;
          @media (max-width: $screen-lg) {
            font-size: $text-xl;
           }
        }
      }
      &--user {
        margin-top: auto;
        font-family: $font-secondary;
        margin-bottom: 5px;
        color: $white;
        font-size: $text-md;
        @media (max-width: $screen-lg) {
          font-size: $text-sm;
          margin-top: 30px;
         }
      }
      &--company {
        color: $text-sub-theme;
        font-family: $font-secondary;
        font-size: $text-md;
        @media (max-width: $screen-lg) {
          font-size: $text-sm; 
         }
      }
    }
  }
}
.app-l-landing-connect {
  margin-top: 270px;
  @media (max-width: $screen-lg) {
    margin-top: 50px;
   }
  .app-l-landing-title {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto 58px;
  }
  &-wrapper {
    background-image: url(../../../assets/images/bgConnect.png);
    min-height: 350px;
    background-size: cover;
    @extend %flex-col;
    @extend %flex-all-center;
    &--image {
      margin-bottom: 30px;
    }
    &--interest {
      color: $white;
      font-size: $text-xl;
      margin-bottom: 35px;
    }
    &--links {
      @extend %flex;
      @media (max-width: $screen-lg) {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
       }
      &--item {
        margin-right: 90px;
        @media (max-width: $screen-lg) {
          margin-right: 10px;
          margin-top: 30px;
         }
        &:last-child {
          margin-right: 0;
          .rtl &,
          [dir='rtl'] & {
            margin-left: 0;
          }
        }
        .rtl &,
        [dir='rtl'] & {
          margin-right: 0;
          margin-left: 90px;
        }
        a {
          img {
            width: 22px;
            margin-right: 5px;
            .rtl &,
            [dir='rtl'] & {
              margin-right: 0;
              margin-left: 5px;
            }
          }
          font-size: $text-xl;
          @extend %flex-vert-center;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
.app-l-landing-footer {
  min-height: 130px;
  @extend %flex-all-center;
  color: $white;
  font-size: $text-xl;
}
.app-l-landing-title {
  font-size: 4.8rem;
  color: $text-primary-theme;
  line-height: 4.8rem;
  margin-bottom: 58px;
  @media (max-width: $screen-lg) {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
}
.app-l-plus-animator {
  position: absolute;
  top: 0;
  right: -100px;
  z-index: -1;
  @media (max-width: $screen-lg) {
    display: none;
  }
  .rtl &,
  [dir='rtl'] & {
    right: 0;
    left: -100px;
  }
  .plus-animate--white {
    stroke: $app-theme-white-1;
    animation: $animation-type1 5s glow infinite;
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
@keyframes glow {
  50% {
    stroke: $text-secondary-theme;
  }
  100% {
    stroke: $app-theme-white-1;
  }
}

@keyframes glowCurrent {
  50% {
    background-color: $text-secondary-theme;
  }
  100% {
    background-color: $text-primary-theme;
  }
}
