<div class="app-l-landing-section">
    <div class="app-l-landing-section--left">
        <div class="app-l-landing-section--name">
            <span class="first-name">
                Prinju
            </span>
            <span class="last-name">
                Koshy Vaidyan
            </span>
        </div>
        <div class="app-l-landing-section--job">
            front-end developer
        </div>
        <div class="app-l-landing-section--highlight-actions ">
            <div class="app-btn-group">
                <button class="app-c-btn app-c-btn--primary">
                    Projects
                </button>
                <button class="app-c-btn app-c-btn--primary">
                    CV
                </button>
            </div>
        </div>
    </div>
    <div class="app-l-landing-section--right">
        <img src="../../../assets/images/laptop.png" alt="laptop"/>
    </div>
</div>
<div class="app-l-landing-aboutme">
    <div class="app-l-landing-aboutme--left">
        <img src="../../../assets/images/pic.png" class="profile-pic" alt="me in flesh"/>
        <img src="../../../assets/images/pic-wrapper.svg" class="profile-pic-graphics" alt="graphics"/>
    </div>
    <div class="app-l-landing-aboutme--right">
        <div class="app-l-landing-aboutme--fullname">
            Prinju Koshy Vaidyan
        </div>
        <div class="app-l-landing-aboutme--role">
            FRONT-END DEVELOPER
        </div>
        <div class="app-l-landing-aboutme--intro">
            sTARTED OFF WITH A COMPUTER SCIENCE BACKGROUND AND VERY KEEN TO LEARN NEWER TECHNOLOGIES LANDED ME AS A ui dEVELOPER.tHROUGH FAST LEARNING I PROGRESSED MY WAY TO BECOME A FRONTEND DEVELOPER AND CREATED MULTIPLE ENTERPRISE LEVEL APPLICATIONS WITH CLEAN , MAINTAINABLE AND SCALABLE CODE.
        </div>
        <div class="app-l-landing-aboutme--skills">
            sKILLS
        </div>
        <div class="app-l-landing-aboutme--skills-text">
            Javascript, Angular, reactjs, scss, bem
        </div>
        <div class="app-l-landing-aboutme--skills-pics">
            <ul>
                <li>
                    <img src="../../../assets/images/figma.png" alt="figma"/>
                </li>
                <li>
                    <img src="../../../assets/images/angular.png" alt="angular"/>
                </li>
                <li>
                    <img src="../../../assets/images/react.png" alt="react"/>
                </li>
                <li>
                    <img src="../../../assets/images/sass.png" alt="sass"/>
                </li>
            </ul>
        </div>
        <div class="app-l-plus-animator">
            <svg width="444" height="514" viewBox="0 0 444 514" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M231.368 494.279L193.654 472.505M223.398 464.535L201.624 502.249L223.398 464.535Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M138.534 440.681L100.82 418.907M130.564 410.937L108.79 448.651L130.564 410.937Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M48.601 388.759L10.8873 366.985M40.6311 359.015L18.8571 396.729L40.6311 359.015Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M231.368 494.279L193.654 472.505M223.398 464.535L201.624 502.249L223.398 464.535Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M138.534 440.681L100.82 418.907M130.564 410.937L108.79 448.651L130.564 410.937Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M48.601 388.759L10.8873 366.985M40.6311 359.015L18.8571 396.729L40.6311 359.015Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M281.616 407.247L243.902 385.473M273.646 377.503L251.872 415.217L273.646 377.503Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M188.782 353.65L151.068 331.875M180.812 323.906L159.038 361.619L180.812 323.906Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M98.8485 301.727L61.1348 279.953M90.8787 271.983L69.1047 309.697L90.8787 271.983Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M281.616 407.247L243.902 385.473M273.646 377.503L251.872 415.217L273.646 377.503Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M188.782 353.65L151.068 331.875M180.812 323.906L159.038 361.619L180.812 323.906Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M98.8485 301.727L61.1348 279.953M90.8787 271.983L69.1047 309.697L90.8787 271.983Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M239.029 266.618L201.315 244.844M231.059 236.874L209.285 274.588L231.059 236.874Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M149.096 214.695L111.382 192.921M141.126 184.951L119.352 222.665L141.126 184.951Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M239.029 266.618L201.315 244.844M231.059 236.874L209.285 274.588L231.059 236.874Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M149.096 214.695L111.382 192.921M141.126 184.951L119.352 222.665L141.126 184.951Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M239.029 266.618L201.315 244.844M231.059 236.874L209.285 274.588L231.059 236.874Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M149.096 214.695L111.382 192.921M141.126 184.951L119.352 222.665L141.126 184.951Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M289.277 179.586L251.563 157.812M281.307 149.843L259.533 187.556L281.307 149.843Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M199.345 127.663L161.631 105.889M191.375 97.9188L169.601 135.633L191.375 97.9188Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M289.277 179.586L251.563 157.812M281.307 149.843L259.533 187.556L281.307 149.843Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M199.345 127.663L161.631 105.889M191.375 97.9188L169.601 135.633L191.375 97.9188Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M339.524 92.5547L301.811 70.7807M331.554 62.8109L309.78 100.525L331.554 62.8109Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M249.593 40.631L211.879 18.857M241.623 10.8872L219.849 48.6009L241.623 10.8872Z" class="plus-animate--white" stroke-miterlimit="10"/>
                <path d="M339.524 92.5547L301.811 70.7807M331.554 62.8109L309.78 100.525L331.554 62.8109Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M249.593 40.631L211.879 18.857M241.623 10.8872L219.849 48.6009L241.623 10.8872Z" class="plus-animate--white" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
                
        </div>
    </div>
</div>